@media only screen and (min-width: 768px) {
  #hd-background {
    background: linear-gradient(rgba(0, 0, 0, 1), rgba(139, 101, 101, 0.1));
    /*background: linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.8)), url(https://images.unsplash.com/photo-1461749280684-dccba630e2f6?&auto=format&fit=crop&w=869&q=80);*/
  }
}

bg-gray-200:hover {
  color: #FF002B;
}

.text-gray-300 {
  color: #407BA7;
}

.overlay {
  background: #222;
}

#background-cover {
	position: fixed;
	width: 200%;
	height: 200%;
	background: linear-gradient(5deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4));
}

::-webkit-scrollbar{width:7px}
::-webkit-scrollbar-track{background:#292b30}
::-webkit-scrollbar-thumb{background:#0d0c0f}
::-webkit-scrollbar-thumb:hover{background:#0d0c0f}
